@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #f9fafb;
  background-color: #030712;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}
